/*自定义外边距*/
.m-defined{
    margin-left: -15px;
    margin-right: -15px;
}
/*自定义外边距_上*/
.m-defined-t{
    margin-top: -15px;
}
.font_defined{
    color:#777;
}
.defined-bg:hover{
    background:#f0eff4;
}